/** CSS para el SLIDESHOW **/
.galeria{
	-webkit-transition: max-height .5s ease 0s;
	-moz-transition: max-height .5s ease 0s;
	-ms-transition: max-height .5s ease 0s;
	-o-transition: max-height .5s ease 0s;
	transition: max-height .5s ease 0s;	
	position: relative;
	max-width: 100%;
	height: 350px;
	max-height: 700px;
	margin: 0 auto;
	padding: 0;
	z-index: 0;
	margin-bottom: 63px;
}
#der .galeria{
	max-width: 100px;
	position: absolute;
	height: auto !important;
	margin-top: 54px;
	height: 171px;
	overflow: hidden;
	margin-left: 35px;
	}
#der .galeria ul li img{opacity: .6;}
#der .galeria ul li img:hover{opacity: 1;}
.galeria ul{
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.galeria li{
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	z-index: 0;
}
.galeria li:before,
.galeria li:after{
	-webkit-transition: opacity .5s ease 0s,left .5s ease 0s;
	-moz-transition: opacity .5s ease 0s,left .5s ease 0s;	
	-ms-transition: opacity .5s ease 0s,left .5s ease 0s;
	-o-transition: opacity .5s ease 0s,left .5s ease 0s;
	transition: opacity .5s ease 0s,left .5s ease 0s;
	position: absolute;	
	left: 0;
	display: block;
	width: 100%;
	margin: 0;
	z-index: 13;
	color: #000;
	font-family:FuturaMC, Futura, Helvetica;	
	opacity: 0;
}
.galeria li:after{
	font-size: 20px;
	content: attr(title);	
	top: 21px;
	margin-left: 5%;
	text-transform: uppercase;
	font-weight: bold;
}
.galeria li:before{
	content: attr(data-subtitulo);	
	font-size: 14px;
	top: 46px;
	margin-left: 5%;
	letter-spacing: 0.05em;
}
.galeria .visible:before,
.galeria .visible:after{
	-webkit-transition: opacity .5s ease .5s,left .5s ease .5s;
	-moz-transition: opacity .5s ease 0s, left .5s ease .5s;
	-ms-transition: opacity .5s ease .5s,left .5s ease .5s;
	-o-transition: opacity .5s ease .5s,left .5s ease .5s;	
	transition: opacity .5s ease .5s,left .5s ease .5s;	
	opacity: .9;
	left: 0;
}
.galeria li img{
	position: relative;
	z-index: 0;
	max-width: 100%;
	margin: 0;
	padding: 0;
	display: block;
	opacity: 1;
}
.IE8 .galeria li{z-index: 10;}
.IE8 .galeria li img{z-index: -1;}
.IE8 .galeria li img{width: auto; height: auto; max-height: 100%;}
.IE8 .galeria li:before, .IE8 .galeria li:after{left: 0;}
.botones{	
	-webkit-transition: opacity .5s ease 0s;
	-moz-transition: opacity .5s ease 0s;
	-ms-transition: opacity .5s ease 0s;
	-o-transition: opacity .5s ease 0s;
	transition: opacity .5s ease 0s;
	position: absolute;
	display: none;
	width: 100%;
	bottom: 25%;
	z-index: 10;
	opacity: .3;
	overflow: hidden;
}
.botones .boton{
	position: relative;
	font-size: 1em;
	color: #000;
	text-decoration: none;
	text-align: center;
	padding: .2em .7em;
	margin: 0 0 0 1%;
	display: inline;	
	background: rgba(0,0,0,.5);
	box-shadow: 0 0 .5em #555;
	float: left;	
}
.botones .boton:nth-child(2n){
	float: right;
}
.IE8 .botones .boton{
	background: #000;
	opacity: .5;
}
#right.boton{
	margin: 0 1% 0 0;
}
.galeria:hover .botones{
	opacity: 1;
}
/** indicadores num imagenes **/
#indicadores{
	position: absolute;
	display: block;
	width: 100%;
	text-align: center;
	z-index: 13;
	bottom: -12px;
	height: 1%;
}
#der #indicadores{display: none;}
.boton-redondo{
	display: inline-block;
	height: 5px;
	width: 5px;
	border-radius: 0;
	border: 5px solid #f00000;
	margin: 0 .8em 0 0;
}
.IE8 .boton-redondo{display: inline; width: 0; height: 0; padding: 0 .5em;}
.boton-redondo.selected{
	background: #f00000;
}
/* animacion por css */
#lista-galeria{
	left: 0;
	-moz-transition: left .3s ease .3s;
	-webkit-transition: left .3s ease .3s;
	-o-transition: left .3s ease .3s;
	-ms-transition: left .3s ease .3s;
	transition: left .3s ease .3s;
}
#pie{
	position: relative;
	bottom: 0;
	margin-top: 1.9em;
}
@media screen and (max-width:1024px){
	.galeria li:before{bottom: 40%;}
}
@media screen and (max-width:900px){}


@media screen and (max-width:560px){
	#indicadores{display:none; bottom: 12%;}
	.galeria {height: 100%}
	.galeria li:after{top: 10px; font-size: 20px;}
	.galeria li:before{top: 35px; font-size: 14px;}
}
@media all and (min-width: 560px) and (max-width: 909px){
	#der .galeria{
		width: 100px;
		margin-top: 79px;
		margin-left: -10px;
		}
	#indicadores{display:none; bottom: 12%;}
	.galeria {height: 100%;width: 320px;overflow: hidden;}
}

