<ul class="SidebarRight">
  <li class="SidebarRight-item">
    <a class="Hover" href="https://x.com/DiazyPons" target="_blank">
      <div class="SidebarRight-itemImage">{{ twitter_svg|safe }}</div>
      <span class="SidebarRight-itemText">Twitter</span>
    </a>
  </li>
  <li class="SidebarRight-item">
    <a class="Hover" href="https://www.facebook.com/diazponseditores" target="_blank">
      <div class="SidebarRight-itemImage">{{ facebook_svg|safe }}</div>
      <span class="SidebarRight-itemText">Facebook</span>
    </a>
  </li>
  <li class="SidebarRight-item">
    <a class="Hover" href="https://www.instagram.com/diazponsediciones" target="_blank">
      <div class="SidebarRight-itemImage">{{ instagram_svg|safe}}</div>
      <span class="SidebarRight-itemText">Instagram</span>
    </a>
  </li>
</ul>
