@import '../../css/imports.less';

@c: .SidebarRight;

@{c} {
  display: grid;
  padding: 0 10px;
  gap: 12px;

  &-item {
    display: flex;
    gap: 8px;

    &:hover {
      cursor: pointer;

      @{c}-itemText {
        color: @c-accent;
        opacity: 1;
      }

      @{c}-itemImage {
        svg {
          fill: @c-accent !important;
        }
      }
    }
  }

  &-itemText:not(.noClass) {
    font-family: @ff-sans-display;
    font-size: @fs-medium;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    opacity: 0;
    transition: color @td-fast ease, opacity @td-fast ease;
  }

  &-itemImage {
    svg {
      width: 16px;
      transition: fill @td-fast ease;
    }
  }
}
