<ul class="SidebarRight">
  <li class="SidebarRight-item">
    <div class="SidebarRight-itemImage">{{ twitter_svg|safe}}</div>
    <a class="SidebarRight-itemText Link" href="https://x.com/DiazyPons">Twitter</a>
  </li>
  <li class="SidebarRight-item">
    <div class="SidebarRight-itemImage">{{ facebook_svg|safe }}</div>
    <a class="SidebarRight-itemText Link" href="https://www.facebook.com/diazponseditores">Facebook</a>
  </li>
  <li class="SidebarRight-item">
    <div class="SidebarRight-itemImage">{{ instagram_svg|safe}}</div>
    <a class="Link SidebarRight-itemText" href="https://www.instagram.com/diazponsediciones">Instagram</a>
  </li>
</ul>
