{% extends "layouts/layout_five_columns/layout_five_columns.html" %}

{% block title %}Libros{% endblock %}

{% block content %}
  <div class="Book">
    <img
      class="Book-image"
      src="{{ book_with_author.book.image_vertical }}"
      alt="{{ book_with_author.book.image_vertical }}"
      rel="preload"
    />
    <div class="Book-mainInfo">
      <h3 class="Book-title Hover">{{ book_with_author.book.title }}</h3>
     {% if book_with_author.book.subtitle != "" %}<h4 class="Book-subtitle">{{ book_with_author.book.subtitle }}</h4>{% endif %}
      <div class="Book-author">
        <a class="Hover" href="/authors/{{ book_with_author.author.id }}">{{ book_with_author.author.name }}</a>
      </div>
    </div>
    <div class="Book-details">
      <div>
        Col.: <a class="Hover" href="/serie/{{ book_with_author.serie.id }}">{{ book_with_author.serie.name }}</a>
      </div>
      <div>{{ book_with_author.book.pages }} páginas.</div>
      <div>Formato: {{ book_with_author.book.format }}</div>
      <div>{% if book_with_author.book.designer != "" %}Diseño: {{ book_with_author.book.designer }}{% endif %}</div>
      <div>ISBN: {{ book_with_author.book.isbn }}</div>
    </div>
    <div class="Book-description">
      {{ book_with_author.book.description|safe }}
      <br /><br />
      {{ book_with_author.author.biography|safe }}
      {% if book_with_author.reviews.len() > 0 %}<div class="Book-reviewsTitle">Reseñas:</div>{% endif %}
      <ul class="Book-reviews">
        {% for review in book_with_author.reviews %}
          <li class="Book-review">{% if review.author != "" %}{{ review.author }}: {% endif %}<a class="Hover" href="{{review.url}}" target="_blank">«{{review.title}}»</a>, {{review.media}}, {{review.date}}.</li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
