@import '../../css/imports.less';

@c: .Book;

@{c} {
  display: grid;
  column-gap: 10px;
  row-gap: 40px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);

  @media @br-tablet {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &-image {
    order: 2;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    width: 100%;
    aspect-ratio: 20 / 31;

    @media @br-tablet {
      grid-row: 3 / span 1;
    }
  }

  &-mainInfo {
    @media @br-tablet {
      margin-bottom: 10px;
    }
  }

  &-title {
    margin-bottom: 5px;
    font-family: @ff-sans-display--condensed;
    font-size: @fs-huge;
    letter-spacing: 0.6px;
    text-transform: uppercase;
  }

  &-subtitle {
    margin-bottom: 5px;
    font-family: @ff-sans-display;
    font-size: @fs-medium;
  }

  &-author {
    font-family: @ff-sans-display;
    font-size: @fs-medium;
    font-weight: @fw-semibold;
  }

  &-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: @fs-small;
    line-height: @fh-small;

    @media @br-tablet {
      margin-bottom: 10px;
      order: 3;
    }
  }

  &-description {
    grid-column: 1 / span 2;
    grid-row: 3 / span 5;
    font-family: @ff-sans;
    font-size: @fs-normal;
    line-height: @fh-normal;

    @media @br-tablet {
      order: 4;
    }
  }

  &-reviewsTitle {
    padding-top: 20px;
    font-family: @ff-sans-display--condensed;
    font-size: @fs-big;
    letter-spacing: 0.6px;
    text-transform: uppercase;
  }

  &-reviews {
    list-style: none;
    padding-top: 20px;
    padding-left: 1.5em;

    @media @br-mobile {
      padding-left: 0;
    }
  }

  &-review {
    position: relative;
    margin-bottom: 10px;
    padding-left: 1em;
    font-weight: @fw-medium;

    &:before {
      content: '-';
      position: absolute;
      left: 0;
      line-height: 1;
    }
  }
}
