{% extends "layouts/layout_five_columns/layout_five_columns.html" %}

{% block title %}Díaz & Pons | autores{% endblock %}

{% block content %}
  <ul class="Authors">
    {% for author in authors %}
    <li class="Authors-author">
        <h2 class="Authors-name Hover">
          <a class="Hover" href="/authors/{{ author.id }}">{{ author.name }}</a>
        </h2>
        <img
          class="Authors-image"
          src="{{ author.image }}"
          alt="{{ author.image }}"
          rel="preload"
        />
        <div class="Authors-description">{{author.biography|safe}}</div>
      </li>
    {% endfor %}
  </ul>
  {% include "components/doubleArrowUp/doubleArrowUp.html" %}
{% endblock %}
