{% extends "layouts/layout_five_columns/layout_five_columns.html" %} {% block title %}Libros{% endblock %} {% block
content %}
<div class="Books">
  <ul class="Books-books">
    {% for book_with_author in books_with_authors %}
    <li class="Books-book">
      <h3 class="Books-title">
        <a class="Hover" href="/books/{{ book_with_author.book.id }}">{{ book_with_author.book.title }}</a>
      </h3>
      {% if book_with_author.book.subtitle != "" %}
      <h4 class="Books-subtitle">{{ book_with_author.book.subtitle }}</h4>
      {% endif %}
      <div class="Books-author">
        <a class="Hover" href="/authors/{{ book_with_author.author.id }}">{{ book_with_author.author.name }}</a>
      </div>
      <a class="Hover Books-image" href="/books/{{ book_with_author.book.id }}">
        <img src="{{ book_with_author.book.image_vertical }}" alt="{{ book_with_author.book.image_vertical }}" />
      </a>
      <div class="Books-description">{{ book_with_author.book.description }}</div>
    </li>
    {% endfor %}
  </ul>
  {% include "components/doubleArrowUp/doubleArrowUp.html" %}
</div>
{% endblock %}
