<div class="SidebarLeft">
  <h4 class="SidebarLeft-title">Colecciones</h4>
  <ul class="SidebarLeft-list">
    <li class="SidebarLeft-item">
      <a class="Link" href="/series/critik">Critik</a>
    </li>
    <li class="SidebarLeft-item">
      <a class="Link" href="/series/modelos-para-armar">Modelos para armar</a>
    </li>
    <li class="SidebarLeft-item">
      <a class="Link" href="/series/proyectos">Proyectos</a>
    </li>
    <li class="SidebarLeft-item">
      <a class="Link" href="/series/vita-aesthetica">Vita æesthetica</a>
    </li>
  </ul>
</div>
