<div class="SidebarLeft">
  <h4 class="SidebarLeft-title">{{language.glossary.series}}</h4>
  <ul class="SidebarLeft-list">
    <li class="SidebarLeft-item">
      <a class="Hover" href="/{{current_slug}}/serie/critik">Critik</a>
    </li>
    <li class="SidebarLeft-item">
      <a class="Hover" href="/{{current_slug}}/serie/modelos-para-armar">Modelos para armar</a>
    </li>
    <li class="SidebarLeft-item">
      <a class="Hover" href="/{{current_slug}}/serie/proyectos">Proyectos</a>
    </li>
    <li class="SidebarLeft-item">
      <a class="Hover" href="/{{current_slug}}/serie/vita-aesthetica">Vita æesthetica</a>
    </li>
  </ul>
</div>
