@import '../../css/imports.less';

@c: .LayoutFiveColumns;

@{c} {
  display: grid;
  align-items: start;
  align-content: start;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  max-width: @lay-maxWidth;
  margin: 0 auto;
  padding: 50px 20px 20px;
  gap: 50px;

  @media @br-tablet {
    max-width: @lay-maxWidthTablet;
  }

  @media @br-mobile {
    max-width: @lay-maxWidthMobile;
    padding: 0 10px 10px;
  }

  &-columns {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }

  &-sidebarLeft {
    grid-column: 1 / span 1;

    @media @br-mobile {
      display: none;
    }
  }

  &-main {
    grid-column: 2 / span 3;

    @media @br-mobile {
      grid-column: 1 / span 5;
    }
  }

  &-sidebarRight {
    grid-column: 5 / span 1;

    @media @br-mobile {
      display: none;
    }
  }
}
