@import '../../css/imports.less';

@c: .Home;

@{c} {
  &-book {
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 1px dotted @c-base;
  }

  &-title {
    font-weight: bold;
    color: @c-accent;
  }

  &-data {
    //
  }

  &-dataEntry {
    font-weight: bold;
  }

  &-dataValue {
    //
  }

  &-isbn {
    text-transform: uppercase;
  }

  &-image {
    //
  }

  &-description {
    //
  }
}
