<div class="Home" id="home">
  <h1 class="Home-title">{{ data.title }}</h1>
  <ul class="Home-list">
    {% for book in data.books %}
    <li>{{ book.title }} by {{ book.author }}</li>
    {% endfor %}
  </ul>
</div>
