<header class="Header">
  <ul class="Header-list">
    <li class="Header-logo">
      <a class="Link" href="/">
        <img src="static/img/logo.png" />
      </a>
    </li>
    <li class="Header-item">
      <a class="Link" href="/catalog">CATÁLOGO</a>
    </li>
    <li class="Header-item">
      <a class="Link" href="/authors">AUTORES</a>
    </li>
    <li class="Header-item">
      <a class="Link" href="/about">ABOUT</a>
    </li>
    <li class="Header-item">
      <a class="Link Header-email" href="mailto:info@diazpons.es">info@diazpons.es</a>
      <a class="Link" href="/something">SOMETHING</a>
    </li>
  </ul>
</header>
