<header class="Header">
  <div class="Header-logo">
    <a class="Hover" href="/">
      <img class="Header-logoRegular" src="/static/img/logo/logo.png" />
      <img class="Header-logoSmall" src="/static/img/logo/logo-small.png" />
    </a>
  </div>
  <div class="Header-logoText">
    <a class="Hover" href="/">
      <img src="/static/img/logo/logo-text.png" />
    </a>
  </div>
  <ul class="Header-list">
    <li class="Header-item">
      <a class="Hover" href="/{{current_slug}}/books">{{language.glossary.catalog}}</a>
    </li>
    <li class="Header-item">
      <a class="Hover" href="/{{current_slug}}/authors">{{language.glossary.authors}}</a>
    </li>
    <li class="Header-item">
      <a class="Hover" href="/{{current_slug}}/about">{{language.glossary.about_us}}</a>
    </li>
    <li class="Header-item">
      <span class="Header-email">
        <a href="/en{{ current_path }}" class="Hover">en</a>
        <span class="Header-separator">|</span>
        <a href="/es{{ current_path }}" class="Hover">es</a>
      </span>
      <a class="Hover" href="/{{current_slug}}/press">{{language.glossary.press}}</a>
    </li>
  </ul>
  <div class="Header-menu">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="Header-socialMedia">
    <div class="Header-socialMediaInner">
      <a class="Header-socialMediaIcon" href="https://x.com/DiazyPons">{{ twitter_svg|safe }}</a>
      <a class="Header-socialMediaIcon" href="https://www.facebook.com/diazponseditores">{{ facebook_svg|safe }}</a>
      <a class="Header-socialMediaIcon" href="https://www.instagram.com/diazponsediciones">{{ instagram_svg|safe }}</a>
    </div>
  </div>
</header>
