@import '../../css/imports.less';

@c: .Header;

@{c} {
  padding: 10px;

  &-list {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
  }

  &-logo {
    img {
      height: 100%;
      width: 100%;
    }
  }

  &-item {
    font-family: @ff-sans-display;
    font-size: @fs-big;
    font-weight: @fw-medium;
    line-height: 42px;
    text-align: center;
    border-top: 1px dotted @c-base;
    border-bottom: 1px dotted @c-base;
  }
}
