<header class="Header">
  <ul class="Header-list">
    <li class="Header-logo">
      <a class="logo" href="/">
        <img src="static/img/logo.png" />
      </a>
    </li>
    <li class="Header-item">
      <a href="/catalog">"Catálogo"</a>
    </li>
    <li class="Header-item">
      <a href="/authors">"Autores"</a>
    </li>
    <li class="Header-item">
      <a href="/about">"About"</a>
    </li>
    <li class="Header-item">
      <a href="/something">"Something"</a>
    </li>
  </ul>
</header>
