/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
    resize: vertical;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Author's custom styles
========================================================================== */

@font-face {
    font-family: 'DollyR';
    src: url('../fonts/DollyPro-Regular.otf')  format('opentype');
}
@font-face {
    font-family: 'DollyRI';
    src: url('../fonts/DollyPro-RegularItalic.otf')  format('opentype');
}
@font-face {
    font-family: 'DollyB';
    src: url('../fonts/DollyPro-Bold.otf')  format('opentype');
}
@font-face {
    font-family: 'DollySC';
    src: url('../fonts/DollyPro-RegularSmallCaps.otf')  format('opentype');
}
@font-face {
    font-family: 'AvenirR';
    src: url('../fonts/AvenirLTStd-Medium.otf')  format('opentype');
}
@font-face {
    font-family: 'AvenirB';
    src: url('../fonts/AvenirLTStd-Heavy.otf')  format('opentype');
}

html{
    font-family: 'DollyR';
    background: linear-gradient(135deg, #fff, #fffff4 66%);
}
mark{
    font-family: 'DollySC';
    background: transparent;
    color: inherit;
}
a:hover{
    text-decoration: underline;
}

.section .intro{
    padding: 80px 0 120px 0;
}
#section0{
/*    background: url(../img/marcor.png), url(../img/ojowo.jpg);*/
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
/*    background-blend-mode: multiply;*/
    z-index: 0;
}
#section0 .logo1{
    background: url(../img/eidos24s.png) no-repeat;  
    width: 75%;
    margin: auto;
    max-width: 400px;
    height: 142px;
    background-size: contain;
    mix-blend-mode: multiply;
}
#section0 figure img{
    width: 100%;
}
#section0 p{
    font-family: 'DollyR';
    text-transform: uppercase;
    letter-spacing: 0.8em;
    font-size: 1.8em;
}
#section1, #section2, #section3{
    z-index: 999;
}
#section1 .intro p{
    font-size: 1em;
    line-height: 1.3em;
    text-align: justify;
    hyphens: auto;
    max-width: 600px;
}

.cadrofora{
    display: none;
    position: fixed;
    background: transparent;
    width: 95%;
    height: 95%;
    top: 2.5%;
    left: 2.5%;
    border: 6px solid #e32526;
    box-sizing: border-box;
    mix-blend-mode: multiply;
}
.cadrodentro{
    display: none;
    position: fixed;
    background: transparent;
    width: 93.2%;
    height: 93%;
    top: 3.5%;
    left: 3.5%;
    border: 2px solid #e32526;
    box-sizing: border-box;
    mix-blend-mode: multiply;
}



/* Style for our header texts
* --------------------------------------- */
h1{
    font-size: 2em;
    font-family: 'AvenirB';
    margin:0 0 0.6em 0;
    padding:0 0 0 0;
    color: #444;
    text-transform: uppercase;
    letter-spacing: .1em;
}
.intro p{
    color: #444;
    padding:1em 0 0 0;
    min-width: 300px;
}


/* Centered texts in each section
* --------------------------------------- */
.section{
    text-align:center;
}
/*
#section3{
    background: url(../img/ojow.jpg);
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
}
*/
#section3 .intro{
    padding: 25px 0 0;
}
#section3 header{
    margin-bottom: 35px;
}
#section3 ul{
    color: #444;
    margin: 0 0 2em 0;
}
#section3 .esp{
    float: left;
    text-align: right;
    width: 44%;
    margin-left: 5%;
}
#section3 .mex{
    float: right;
    text-align: left;
    width: 44%;
    margin-right: 5%;
}
#section3 .pieses{
    width: 216px;
    height: 77px;
    bottom: 100px;
    margin: 0 auto 2.5em;
    background: url(../img/eidos24n.png) no-repeat;
    background-size: contain;
}
#section3 .sec{
    position: absolute;
    font-size: 30px;
    font-family: 'DollyR';
    color: #e1261c;
    display: inline-block;
    bottom: 30px;
}
#section3 .sec a:hover{
    text-decoration: none;
}
#section3 .mail{
    clear: both;
    font-family: 'DollyRI';
}
#section3 .esp li:first-child, #section3 .mex li:first-child{
    margin-bottom: 0.3em;
}
#section3 ul li{
    padding: 1px;
    line-height: 1.25em;
}
#section3 ul li:first-child{
    font-family: 'DollySC';
    letter-spacing: .1em;
}
#section3 p{
    font-size: 1em;
}

/* Consejo editorial */
.cedi{
    max-width: 600px;
    margin: 2.2em auto 0;
    text-align: center;
    color: #444;
    width: 90%;
}
.cedi dt{
    font-family: 'DollySC';
    line-height: 1.2em;
    font-size: 1em;
}
.cedi dd{
    font-family: 'DollyR';
    line-height: 1.2em;
    margin: 0.2em 0 1.5em 0;
}



.flecha{
    font-size: 7em;
    color: #000;
    font-family: 'AvenirR';
}
.abajo{
    position: absolute;
    bottom: -70px;
    left: 40px;
}
.arriba{
    position: absolute;
    top: 12px;
    left: 40px;
}
.baja{
    display: none;
    position: absolute;
    width: 60px;
    height: 25px;
    background: url(../img/flecha.png) no-repeat;
    background-size: contain;
    bottom: 15px;
    left: calc(50% - 30px);
    -webkit-transition: .5s ease;
    transition: .5s ease;
    opacity: 1;
}
.baja:focus{
    opacity: 0;
}

@media all and (min-width:700px){
    .baja, .cadrofora, .cadrodentro{
        display: block;
    }
}



/* ==========================================================================
Helper classes
========================================================================== */

/*
* Hide visually and from screen readers
*/

.hidden {
    display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
    visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
        /* Style adjustments for high resolution devices */
}

/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
